@import '_normalize.scss';

$font-size-base: 13px !default;
$font-family-base: Verdana, Geneva, sans-serif !default;
$font-weight-base: 400 !default;
$font-antialiased: true !default;
$line-height-base: 1.5 !default;
$spacing-base: 1.5em !default;
$breakpoint-tablet: 768px;

$base-bg: #ddd;
$text-color: #000;
$link-color: #191989;
$dark-bg: #7b8b99;

body {
	font-family:  $font-family-base;
	font-size:  $font-size-base;
	line-height:  $line-height-base;
    background-color: $base-bg;
    color: $text-color;
    margin: 0;
    text-transform: lowercase;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
         color: darken($link-color, 5%);
    }
}

#container,
#header-inner {
	max-width: 1240px;
	margin: 0 auto;
    padding: 0 15px;
}

#header {
    background-color: $dark-bg;
    padding: .25rem;

    a {
        color: $text-color;
    }
}
#logo {
    font-weight: 600;
}
#menu-right {
    float:right;
}
#row {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#sol-frame,
#content {
    padding: 0 15px;
}

#sol-frame {
	width: 100%;

}
#content {
	    width: 100%;
        
}

@media (min-width: $breakpoint-tablet) {

    #logo ,
    #menu-left {
        float:left;
        margin-right: 1rem;
    }

    #sol-frame,
    #content {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: 0 15px;
    }
    #sol-frame {
        max-width: 30%;

    }
    #content {
            max-width: 70%;
            
    }
}


#entry-list {
    padding-left: 2rem;
    list-style: none;
    li {
        position: relative;
        margin-bottom: 2rem;
    }
    .vote {
        position: absolute;
        left: -1.5rem;
        top:-3px;
    }

    ul {
        list-style: none;
        position: relative;
        /*color: lighten($text-color,25%);*/
        padding-top: 1rem;
        font-size: 12px;
        border-left: 2px solid darken($base-bg,15%);
        padding-left:20px;
        margin-left:20px;

       /* &:before {
                content: " ";
                height: 100%;
                width: 2px;
                left: 15px;
                background-color: darken($base-bg,15%);
                display: block;
                position: absolute;
                top: 0;
            }*/

        li {

            margin: 0;
            
            & + li {
                padding-top: 1rem;
            }

            &:before {
                content: " ";
                height: 2px;
                width: 17px;
                left: -22px;
                background-color: darken($base-bg,15%);
                display: block;
                position: absolute;
                top: 20px;
            }
           
        }
    }
}
.entry-meta {
    color: lighten($text-color,40%);
    font-size: 11px;
 
    a {
       color: lighten($text-color,40%);
    }

    [data-toggle="collapse"]:before {
        content: '[-]';
    }
    .collapsed:before {
        content: '[+]';
    }
}


#post-list {
    li {
        margin-bottom: .5rem;
    }
}
.footer-links {
    color: lighten($text-color,50%);
 
    a {
        /*margin-right:1rem;*/
        color: lighten($text-color,50%);
        /*text-decoration: underline;*/
        font-size: 11px;
        
    }
}

footer {
    margin-top: 2rem;
    padding: 1rem 0;
     text-align: center;
     border-top: 2px solid $dark-bg;

}
.collapse.show {
    display: block;
}
 
.collapse {
    display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

 
.entry-form {
    max-width: 330px;

    textarea {
        display: block;
        width: 100%;
    }
    pre {
        margin: .25rem 0;
    }
}