@import '_normalize.scss';

$font-size-base: 12px !default;
$font-family-base: Verdana, Geneva, sans-serif !default;
$font-weight-base: 400 !default;
$font-antialiased: true !default;
$line-height-base: 1.5 !default;
$spacing-base: 1.5em !default;

$base-bg: #f3f3f3;
$text-color: #111;
$link-color: #191989;
$dark-bg: #636363;

body {
	font-family:  $font-family-base;
	font-size:  $font-size-base;
	line-height:  $line-height-base;
    background-color: $base-bg;
    color: $text-color;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
         color: darken($link-color, 5%);
    }
}

#container,
#header-inner {
	max-width: 1240px;
	margin: 0 auto;
}

#header {
    background-color: $dark-bg;
    padding: .5rem;

    a {
        color: $base-bg;
    }
}
#row {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#sol-frame,
#content {
	    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#sol-frame {
	    max-width: 30%;
        margin-right: 2rem;

}
#content {
	    max-width: 70%;
}

#entry-list {
    padding: 0;
    list-style: none;
    li {
        position: relative;
        margin-bottom: 1rem;
    }
    .vote {
        position: absolute;
        left: -1.5rem;
        top:-3px;
    }
}
.entry-meta {
    color: lighten($text-color,50%);
    font-size: 11px;
 
    a {
       color: lighten($text-color,50%);
    }
}

#post-list {
    li {
        margin-bottom: .5rem;
    }
}